*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: $fontPrimary;
    font-size: 1.7rem;
    line-height: 1.5;
    color: $grey;
    background-image: url('/images/background.jpg');
}

.container {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    padding: 3rem;
    position: relative;
}

ul {
    list-style: none;
}


